[submodule "libretro-common"]
	path = libretro/libretro-common
	url = https://github.com/libretro/libretro-common.git
[submodule "libretro-super"]
	path = libretro/libretro-super
	url = https://github.com/libretro/libretro-super.git
[submodule "docs"]
	path = libretro/docs
	url = https://github.com/libretro/docs.git
[submodule "libretro/cytrusの3dsコアの改善の際に参考にするコア/azahar"]
	path = libretro/cytrusの3dsコアの改善の際に参考にするコア/azahar
	url = https://github.com/azahar-emu/azahar
